/*-----------------------------------------
    05.Start GET-IN-TOUCH-Section
-----------------------------------------*/
.map{
    height:332px;
    border:1px solid #AAAAAA;
}

.form-row {
    position: relative;
}
.form-control{
    border:1px solid  #40AFCC;
    border-radius:0;
    padding: 30px 15px 20px;
    background: #FAFAFA;

}
.form-control:focus {
    box-shadow: 0 0 0 1.5px #40AFCC;
}
.write-text{
    position: absolute;
    content:'';
    left:15px;
    top:15px;
    pointer-events: none;
    -webkit-transition:all .4s ease;
        transition:all .4s ease;

}
.form-control:focus~.write-text,
.form-control:valid~.write-text{
    top:0px;
}

textarea.form-control {
    height: 180px;
}
